# Dependencies
node_modules/
vendor/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Build outputs
.next/
out/
public/hot
public/storage
storage/*.key
